@model IEnumerable<WMSPDA.Model.TEMP_INBILL_D>

@{
    Layout = null;
}

@{
    ViewBag.Title = "RevokeItemBOX";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!--标准mui.css-->
	<link rel="stylesheet" href="~/Content/MUI/css/mui.min.css">
	<!--App自定义的css-->
	<!-- <link rel="stylesheet" type="text/css" href="../css/app.css" /> -->

    <!--App自定义的css-->
	<link rel="stylesheet" type="text/css" href="~/Content/MUI/css/app.css" />

    <title>@Resources.Lang.PDA_Common_Element_InBoxDetail</title>
    	<style>
    	    .mui-control-content
    	    {
    	        background-color: white;
    	        min-height: 215px;
    	    }

    	        .mui-control-content .mui-loading
    	        {
    	            margin-top: 50px;
    	        }
    	</style>

</head>
<body>

    <header class="mui-bar mui-bar-nav">

        <button type="button" class="mui-btn mui-btn-link mui-pull-left" id="btnReturn">
		    <span class="mui-icon mui-icon-back"></span>@Resources.Lang.PDA_Common_Element_GoBack
		</button>

        <button type="button" class="mui-btn mui-btn-link mui-pull-right" id="btnMain">
	        <span class="mui-icon mui-icon-home"></span>
        </button>

		<h1 class="mui-title" style="text-decoration:underline;color:#5A98FB;">
            @Resources.Lang.PDA_Common_Element_InBoxDetail
		</h1>
	</header>

	<div class="mui-content">
        <div class="mui-content-padded" style="margin: 5px 0px;">
            <form class="mui-input-group">
                <div style="float: left;margin-top: 10px;margin-left: 10px;">
                    <h4 class="mui-ellipsis">@ViewBag.UnitConfigName：@ViewBag.PalletCode</h4>
                </div>
                <div class="mui-button-row" style="text-align:right;padding-right:10px;">
					<button type="button" class="mui-btn mui-btn-primary" id="btnSave" onclick="return false;" data-loading-text="@Resources.Lang.PDA_Common_Element_Revokeing" data-loading-icon-position="right">@Resources.Lang.PDA_Common_Element_RevokeInBox</button>
                    <input type="hidden" id="hdnLine" value="1" />
				</div>
            </form>
        </div>

		<div id="slider" class="mui-slider">
			<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1">
							<div class="mui-scroll" style="position: initial;">

                                <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed" id="tab1UL">

                                     @foreach (WMSPDA.Model.TEMP_INBILL_D bo in Model)
                                    { 
                                        <li class="mui-table-view-cell">
		                                    <div class="mui-table">
		                                        <div class="mui-table-cell mui-col-xs-10">
		                                            <h5 class="mui-ellipsis">@Resources.Lang.PDA_Common_Element_ASN：@bo.id </h5>
                                                    <p class="mui-h6 mui-ellipsis"> @Resources.Lang.PDA_Common_Element_CinvCode：@bo.cinvcode  </p>                                                  
		                                        </div>
		                                        <div class="mui-table-cell mui-col-xs-2 mui-text-right" style="width:75px;">
		                                            <span class="mui-h5"> @bo.ddefine3.Value.ToString("yyyy-MM-dd") </span>
		                                        </div>
		                                    </div>
		                                </li>
                                    }
                                </ul>
							</div>
						</div>
					</div>
					
				</div>
	    </div>
    </div>

    <script src="~/Content/MUI/js/mui.min.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script>

        var CurrendIndex1 = 1;//Tab1当前页数

        $(document).ready(function () {

            $("#btnReturn").bind("tap", function () {
                location.href = "/InBill/EncasementList/@ViewBag.UserNo";
            });

            $("#btnMain").bind("tap", function () {
                location.href = "/PDA/Main/@ViewBag.UserNo";
            });

            $("#btnSave").bind("tap", function () {
                mui(this).button('loading');
                SubmitCase();
                setTimeout(function () {
                    mui(this).button('reset');
                }.bind(this), 1000);
            });
        });

        //撤销
        function SubmitCase() {
            $.ajax({
                type: "get",
                url: "/InBill/RevokeTempInBill",
                dataType: "json",
                data: { PalletCode: "@ViewBag.PalletCode" },
                async: false,
                success: function (data) {
                    if (data != undefined && data != "") {
                        if (data.Status == "0") {
                            mui.alert("@Resources.Lang.PDA_Common_Tips_RevokeSuccess", "", "", function () {
                                location.href = "/InBill/EncasementList/@ViewBag.UserNo";
                            });
                        }
                        else {
                            mui.alert("@Resources.Lang.PDA_Common_Tips_RevokeFailed：" + data.Info);
                        }
                    }
                    else {

                    }
                },
                error: function (msg) {
                    mui.alert("@Resources.Lang.PDA_Common_Tips_RevokeFailed：" + msg);
                }
            });
        }

	</script>

</body>
</html>