@model IEnumerable<WMSPDA.Business.Base.Models.BASE_SERIAL_NUMBER>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!--标准mui.css-->
	<link rel="stylesheet" href="~/Content/MUI/css/mui.min.css">
	<!--App自定义的css-->
	<!-- <link rel="stylesheet" type="text/css" href="../css/app.css" /> -->

    <!--App自定义的css-->
	<link rel="stylesheet" type="text/css" href="~/Content/MUI/css/app.css" />
	<link rel="stylesheet" type="text/css" href="~/Content/MUI/css/mui.picker.css" />
	<link rel="stylesheet" type="text/css" href="~/Content/MUI/css/mui.poppicker.css" />


    <title>@Resources.Lang.PDA_Common_Element_AddSerialNo</title>
    	<style>
    	    .mui-control-content
    	    {
    	        background-color: white;
    	        min-height: 215px;
    	    }

    	        .mui-control-content .mui-loading
    	        {
    	            margin-top: 50px;
    	        }
    	</style>
</head>
<body>
 <header class="mui-bar mui-bar-nav">

        <button type="button" class="mui-btn mui-btn-link mui-pull-left" id="btnReturn">
		    <span class="mui-icon mui-icon-back"></span>@Resources.Lang.PDA_Common_Element_GoBack
		</button>

        <button type="button" class="mui-btn mui-btn-link mui-pull-right" id="btnMain">
	        <span class="mui-icon mui-icon-home"></span>
        </button>

		<h1 class="mui-title" style="text-decoration:underline;color:#5A98FB;">
            @Resources.Lang.PDA_Common_Element_AddSerialNo
		</h1>
	</header>

	<div class="mui-content">
        <div class="mui-content-padded" style="margin: 5px;">
            <form class="mui-input-group">
                <div class="mui-input-row">
				    <label>@Resources.Lang.PDA_Common_Element_ERPCode</label>
					<input type="text" class="mui-input-clear" id="txtErpcode" placeholder="@Resources.Lang.PDA_Common_Element_ERPCode" value="@ViewBag.erpcode" disabled="disabled" style="ime-mode:disabled">
				</div>
                <div class="mui-input-row">
					<label>@Resources.Lang.PDA_Common_Element_ASNCode</label>
					<input type="text" class="mui-input-clear" id="txtCticketcode" placeholder="@Resources.Lang.PDA_Common_Element_RuKuDanHao" value="@ViewBag.cticketCode" disabled="disabled"  style="ime-mode:disabled">
				</div>  
                <div class="mui-input-row">
					<label style="text-align:left;width:30%">@Resources.Lang.PDA_Common_Element_LiaoHao</label>
					@*<input type="text" class="mui-input-clear" id="txtCinvCode" value="@ViewBag.cinvcode" placeholder="@Resources.Lang.PDA_Common_Element_LiaoHao"  disabled="disabled"  style="ime-mode:disabled">*@
                     <button id='showUserPicker' class="mui-button-row mui-btn mui-btn-white" type='button' style="width:70%;font-size:inherit;text-align:left ">@Resources.Lang.PDA_Common_Element_LiaoHao</button>
				</div>

                
                <div class="mui-input-row">
					<label>@Resources.Lang.PDA_Common_Element_Quantity</label>
					<input type="text" class="mui-input-clear" id="txtQty" value="" placeholder="@Resources.Lang.PDA_Common_Element_Quantity"  onpaste="return false" style="ime-mode:disabled" disabled="disabled">
			    </div>
               <div class="mui-input-row">
					<label>@Resources.Lang.PDA_Common_Element_SerialNo</label>
					<input type="text" class="mui-input-clear" id="txtSerialNO" style="ime-mode:disabled">
				</div>
                <div class="mui-button-row">
		         <button type="button" class="mui-btn mui-btn-primary" id="btnSave" onclick="return false;" data-loading-text="@Resources.Lang.PDA_Common_Element_Button_Confirm" data-loading-icon-position="right" >@Resources.Lang.PDA_Common_Element_Button_Confirm</button>                 
              @*      <input type="hidden" id="hdnLine" value="1" />
                     <input type="hidden" id="hdnIsOldIASN" value="" />
                     <input type="hidden" id="IsUseUnionPalletcode" value="" />*@
                     <input type="hidden" id="txtCinvCode" />
				</div>
            </form>
        </div>

		<div id="slider" class="mui-slider">
				<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
					<a class="mui-control-item" href="#item1mobile">
				        @Resources.Lang.PDA_Common_Element_SeriaDetails
			        </a>
                    <a class="mui-control-item" href="">
			        </a>
                    <a class="mui-control-item" href="">
			        </a>
				</div>
                <div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">

                                <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed" id="tab1UL">

                                     @foreach (WMSPDA.Business.Base.Models.BASE_SERIAL_NUMBER bo in Model)
                                    { 
                                        <li class="mui-table-view-cell">
                                            <div class="mui-slider-right mui-disabled">
				                                <a class="mui-btn mui-btn-red">@Resources.Lang.PDA_Common_Element_Delete</a>
                                                <input type="hidden" class="hdnids" value="@bo.id" />
			                                </div>
		                                    <div class="mui-table mui-slider-handle">
		                                        <div class="mui-table-cell mui-col-xs-10">		 
                                                    <h4>@Resources.Lang.PDA_Common_Element_SerialNo:@bo.serialno</h4>       
                                                    <h6>ERP @Resources.Lang.PDA_Common_Element_CticketCode:@bo.cticketcode&nbsp;@Resources.Lang.PDA_Common_Element_LiaoHao:@bo.cinvcode</h6> 
                                                     <h6>@Resources.Lang.PDA_Common_Element_ScanDate:@bo.dcreatetime</h6>   
		                                        </div>
		                                        <div class="mui-table-cell mui-col-xs-2 mui-text-right">
		                                            <span class="mui-h5">
                                                       
		                                            </span>
		                                        </div>
		                                    </div>
                                   
		                                </li>
                                    }
                                </ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>
    </div>

    <script src="~/Content/MUI/js/mui.min.js"></script>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Content/MUI/js/mui.picker.js"></script>
    <script src="~/Content/MUI/js/mui.poppicker.js"></script>
  <script>
        var CurrendIndex1 = 1;//Tab1当前页数

        //Tab3列表查询方法
        function SearchTab1(IsAppend) {
            //debugger;
            //查询事件
            var txtCticketcodeBox = document.getElementById('txtCticketcode').value;      
            var txtErpcode = document.getElementById('txtErpcode').value;            
            if (IsAppend) {
                CurrendIndex1 = CurrendIndex1 + 1;//下一页
            }
            else {
                $("#tab1UL").empty();
                CurrendIndex1 = 1;//查询，第一页
            }

            $.ajax({
                type: "get",
                url: "/PDA/SerialNoScanSearchTab",
                data: { cticket: "@ViewBag.cticketCode", dtype: "@ViewBag.dtype", cerpcode: txtErpcode, CurrendIndex: CurrendIndex1 },
                async: true,
                success: function (data) {
                    //mui.alert(data);
                    scrollDisabled = true;
                    if (data != null && data != undefined && data.length > 0) {
                        if (!IsAppend) {
                            $("#tab1UL").empty();
                        }
                        var liListhtml = '';
                        for (var i = 0; i < data.length; i++) {
                            var ymd = Getmmdd(data[i].dcreatetime);
                            liListhtml = liListhtml +
                             '<li class="mui-table-view-cell">' +
                             '            <div class="mui-slider-right mui-disabled">' +
				             '                <a class="mui-btn mui-btn-red">@Resources.Lang.PDA_Common_Element_Delete</a>' +
                             '                <input type="hidden" class="hdnids" value="' + data[i].id + '" />' +
			                 '            </div>' +
		                     '            <div class="mui-table mui-slider-handle">' +
		                     '                <div class="mui-table-cell mui-col-xs-10">	' +
                             '                    <h4>@Resources.Lang.PDA_Common_Element_SerialNo:' + data[i].serialno + '</h4>       ' +
                             '                    <h6>ERP @Resources.Lang.PDA_Common_Element_CticketCode:' + data[i].cticketcode + '&nbsp;@Resources.Lang.PDA_Common_Element_LiaoHao:' + data[i].cinvcode + '</h6> ' +
                             '                     <h6>@Resources.Lang.PDA_Common_Element_ScanDate:' + ymd + '</h6>   ' +
		                     '                </div>' +
		                     '                <div class="mui-table-cell mui-col-xs-2 mui-text-right">' +
                             '                    <span class="mui-h5">' +
                             '                    </span>' +
		                     '                </div>' +
		                     '            </div>' +
                             '        </li>';                          
                        }
                        if (IsAppend) {
                            $("#tab1UL").append(liListhtml);
                        }
                        else {
                            $("#tab1UL").html(liListhtml);
                        }

                        //重新绑定事件
                        BindLiTap1();

                        scrollDisabled = false;
                        mui('#scroll1').pullRefresh().endPullupToRefresh(false);//参数为true代表没有更多数据了。
                    }
                    else {
                        //如果没有数据
                        CurrendIndex1 = CurrendIndex1 - 1;
                        scrollDisabled = true;
                        if (!IsAppend) {
                            $("#tab1UL").empty();
                        }
                        mui('#scroll1').pullRefresh().endPullupToRefresh(true);//参数为true代表没有更多数据了。
                    }
                    //注意：一定要修改Tab1的高度，否则分页后就只能显示一部分列表
                    var subHeight = $("#scroll1").children(":first").height();
                    $("#scroll1").parent(":first").height(subHeight);
                },
                error: function (msg) {
                    //alert(msg);
                    mui.alert("@Resources.Lang.PDA_Common_Tips_NetExceptionTryAgain");//网络异常，请重试!
                    mui('#scroll1').pullRefresh().endPullupToRefresh(false);//参数为true代表没有更多数据了。
                }
            });
        }

        //下拉加载更多数据
        function pullfreshQryTab1() {
            //业务逻辑代码，比如通过ajax从服务器获取新数据；
            //......
            //注意：
            //1、加载完新数据后，必须执行如下代码，true表示没有更多数据了：
            //2、若为ajax请求，则需将如下代码放置在处理完ajax响应数据之后
            setTimeout(SearchTab1(true), 1500);
        }

        //格式化json日期
        function Getmmdd(str) {
            var ymd = '';
            //str='/Date(1525795200000)/';
            if (str != undefined) {
                str = str.replace("/Date(", "").replace(")/", "");
                var date = new Date(parseFloat(str));
                var year = date.getFullYear();
                var month = (date.getMonth() + 1) + '';
                if (month.length == 1) {
                    month = "0" + month;
                }
                var strDate = (date.getDate()) + '';
                if (strDate.length == 1) {
                    strDate = '0' + strDate;
                }
                ymd =year+ "-" + month + "-" + strDate;
                //ymd = str;
            }
            return ymd;
        }

        //Tab1下拉分页
        mui('#scroll1').pullRefresh({
            up: {
                height: 100,//可选.默认50.触发上拉加载拖动距离
                auto: false,//可选,默认false.自动上拉加载一次
                contentrefresh: "@Resources.Lang.PDA_Common_Tips_Loading",//正在加载... //可选，正在加载状态时，上拉加载控件上显示的标题内容
                contentnomore: '@Resources.Lang.PDA_Common_Tips_NoMoreData',//没有更多数据了//可选，请求完毕若没有更多数据时显示的提醒内容；
                callback: pullfreshQryTab1 //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
            }
        });
      //普通示例   
        var userPicker = new mui.PopPicker();
        (function ($, doc) {
            $.init();
            $.ready(function () {                           
                BindCinv(userPicker);
            });
        })(mui, document);
           
        $(document).ready(function () {
            BindLiTap1();
            $("#txtSerialNO").focus();
            $("#btnReturn").bind("tap", function () {
                var txtCticketcodeBox = document.getElementById('txtCticketcode').value;      
                var txtErpcode = document.getElementById('txtErpcode').value;           
                var txtCinvCode = "";//document.getElementById('txtCinvCode').value;
                var fmsource = "@ViewBag.dtype";
                if(fmsource=="1"){
                    location.href = "/PDA/INBillPick?cticket=" + txtCticketcodeBox + "&cerpcode=" + txtErpcode + "&cinvcode=" + txtCinvCode;
                }
                else if(fmsource=="2"){
                    location.href = "/OUT/OutBillPick?id=@ViewBag.id&unitnum=@ViewBag.unitnum&cinvcode=" + txtCinvCode;
                }
            });

            $("#btnMain").bind("tap", function () {
                location.href = "/PDA/Main/@ViewBag.UserNo";
            });


            $("#btnSave").bind("tap", function () {
                mui(this).button('loading');
                Save();
                setTimeout(function () {
                    mui(this).button('reset');
                }.bind(this), 1000);
            });  
        });

        function BindCinv(userPicker) {
            var _getParam = function (obj, param) {
                return obj[param] || '';
            };

            $.ajax({
                type: "get",
                url: "/GetJson/GetNeedSerialNoCinvcodes",                  
                data: { code: "@ViewBag.code", cinvcide: "", cticketode: "@ViewBag.cticketCode", dtype: "@ViewBag.dtype" },
                success: function (data) {
                    //mui.alert(data);                   
                    if (data != null && data != undefined && data.length > 0) {
                        userPicker.setData(data);
                        document.getElementById("txtCinvCode").value = data[0].text;
                        document.getElementById("showUserPicker").innerText = data[0].text;
                        document.getElementById("txtQty").value = data[0].value;
                    }
                    else {
                        userPicker.setData("");
                        document.getElementById("txtCinvCode").value = "";
                        //document.getElementById("showUserPicker").innerText = "";
                        document.getElementById("txtQty").value = "";
                        document.getElementById("showUserPicker").disabled = "disabled";
                       // document.getElementById("showUserPicker").style = "disabled:true";
                    }

                },
                error: function (msg) {
                    //alert(msg);
                }
            });

            var showUserPickerButton = document.getElementById('showUserPicker');
            //var userResult = doc.getElementById('userResult');
            showUserPickerButton.addEventListener('tap', function (event) {
                userPicker.show(function (items) {
                    document.getElementById("txtCinvCode").value = items[0].text;
                    document.getElementById("showUserPicker").innerText = items[0].text;
                    document.getElementById("txtQty").value = items[0].value;
                    //doc.getElementById("spnType").innerText = items[0].text;
                    //userResult.innerText = items[0].value;
                    //userResult.innerText = JSON.stringify(items[0]);
                    //返回 false 可以阻止选择框的关闭
                    //return false;
                });
            }, false);
    }
        //保存
        function Save() {               
                var emptVal = $("#txtSerialNO").val();
                if (emptVal == "") {
                    mui.toast("@Resources.Lang.PDA_Common_Msg_PleaseInputSerialNO");//请输入序列号！
                    $("#txtSerialNO").focus();
                    return;
                }            

            //验证通过，保存数据
            var txtSerialNO = $("#txtSerialNO").val();
            var txtCinvCode = $("#txtCinvCode").val();
            var txtCinvCode = $("#txtCinvCode").val();
            var txtCticketcode = $("#txtCticketcode").val();
            var txtErpcode = document.getElementById('txtErpcode').value;         
            var txtQty = document.getElementById('txtQty').value;    
            $.ajax({
                type: "get",
                url: "/PDA/SerialNoScanSave",
                dataType: "json",
                data: { cticketcode: "@ViewBag.cticketCode", cerpcode: txtErpcode, cinvcode: txtCinvCode, serialno: txtSerialNO, dtype: "@ViewBag.dtype", quantity: Math.round(txtQty) },
                async: false,
                success: function (data) {
                    if (data != undefined && data != "") {
                        if (data.Status == "0") {
                            mui.alert("@Resources.Lang.PDA_Common_Tips_SaveSuccess");//保存成功！   
                            clearText();
                            BindCinv(userPicker);
                            SearchTab1(false);                          
                        }
                        else {
                            mui.alert("@Resources.Lang.PDA_Common_Tips_SaveFailed" + data.Info);//保存失败：
                        }
                    }
                    else {

                    }
                },
                error: function (msg) {
                    mui.alert("@Resources.Lang.PDA_Common_Tips_SaveFailed" + msg);//保存失败：
                }
            });
        }

        function clearText() {
            $("#txtSerialNO").val("");
            $("#txtCinvCode").val("");
            $("#txtQty").val("");
            document.getElementById("showUserPicker").innerText = "";
        }

        //绑定Tab3删除事件
        function BindLiTap1() {

            var txtCticketcodeBox = document.getElementById('txtCticketcode').value;
            $('.mui-scroll-wrapper').scroll({
                indicators: true //是否显示滚动条
            });

            var btnArray = ['@Resources.Lang.PDA_Common_Element_Button_Confirm', '@Resources.Lang.PDA_Common_Element_Button_Cancel'];
            $('#tab1UL').unbind();
            $('#tab1UL').on('tap', '.mui-btn', function (event) {
                var elem = this;
                var li = elem.parentNode.parentNode;
                mui.confirm('@Resources.Lang.PDA_Common_Tips_DeleteConfirm', '@Resources.Lang.PDA_Common_Tips_Friendship', btnArray, function (e) {//确认删除该条记录？
                    if (e.index == 0) {
                        var hdnIds = $(li).find(".hdnids").val();
                        //ajax后台删除明细
                        $.ajax({
                            type: "get",
                            url: "/PDA/SerialNoScanDelete",
                            data: { id: hdnIds, cticketcode: txtCticketcodeBox },
                            async: true,
                            dataType: "json",
                            success: function (data) {
                                if (data != undefined && data != "") {
                                    if (data.Status == 0) {
                                        mui.alert("@Resources.Lang.PDA_Common_Tips_DeleteSuccess");//删除成功!
                                        //li.parentNode.removeChild(li);
                                        BindCinv(userPicker);
                                        SearchTab1(false);
                                    }
                                    else {
                                        mui.alert(data.Info);
                                    }
                                }
                            },
                            error: function (msg) {
                                mui.alert("@Resources.Lang.PDA_Common_Tips_NetExceptionTryAgain");//网络异常，请重试!
                            }
                        });
                    } else {
                        setTimeout(function () {
                            $.swipeoutClose(li);
                        }, 0);
                    }
                });
            });
        }      
	</script>
</body>
</html>