
@model Tuple<List<WMSPDA.Model.V_PDA_OutMixedList>, List<WMSPDA.Model.V_PDA_OutMixed_DList>>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!--标准mui.css-->
		<link rel="stylesheet" href="~/Content/MUI/css/mui.min.css">
		<!--App自定义的css-->
		<!-- <link rel="stylesheet" type="text/css" href="../css/app.css" /> -->

        <!--App自定义的css-->
		<link rel="stylesheet" type="text/css" href="~/Content/MUI/css/app.css" />
		<link rel="stylesheet" type="text/css" href="~/Content/MUI/css/mui.picker.css" />
		<link rel="stylesheet" type="text/css" href="~/Content/MUI/css/mui.poppicker.css" />
    <title>配料明细</title>
    	<style>
    	    .mui-control-content {
    	        background-color: white;
    	        min-height: 215px;
    	    }

    	        .mui-control-content .mui-loading {
    	            margin-top: 50px;
    	        }

.mui-btn {
				font-size: 16px;
				padding: 8px;
				margin: 3px;
			}
			h5.mui-content-padded {
				margin-left: 3px;
				margin-top: 20px !important;
			}
			h5.mui-content-padded:first-child {
				margin-top: 12px !important;
			}
			.ui-alert {
				text-align: center;
				padding: 20px 10px;
				font-size: 16px;
			}

        .rowFlow
        {
          float:left;
        }

        .buttonText
        {
            text-align:left;
        }

        .barcodeRight
        {
            background-image:url("../../Content/Images/u222.png") ;
            background-repeat:no-repeat;
            background-position:99% center;
            margin-bottom:1px;
        }

    	</style>

    <link rel="stylesheet" href="~/Content/MUI/css/iconfontNew.css">
</head>
<body>

    <header class="mui-bar mui-bar-nav">

        <button type="button" class="mui-btn mui-btn-link mui-pull-left" id="btnReturn">
		    <span class="mui-icon mui-icon-back"></span>返回
		</button>

        <button type="button" class="mui-btn mui-btn-link mui-pull-right" id="btnMain">
	        <span class="mui-icon mui-icon-home"></span>
        </button>

		<h1 class="mui-title" style="text-decoration:underline;color:#5A98FB;">
            配料
		</h1>
	</header>


	<div class="mui-content">
        <div id="slider" class="mui-slider">
                <div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
				<div class="mui-slider-group" style="height:120px;">
					<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scrollTop" class="mui-scroll-wrapper">
							<div class="mui-scroll">
                                <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed" id="tab2UL">

                                    @foreach (WMSPDA.Model.V_PDA_OutMixedList bo in Model.Item1)
                                    { 
                                        if(bo!=null){
                                        <li class="mui-table-view-cell">
		                                    <div class="mui-table mui-slider-handle">
		                                        <div class="mui-table-cell mui-col-xs-10">
		                                            <h4 class="mui-ellipsis">@bo.ERPCODE</h4>
                                                    <h5>工单号：@bo.wo</h5>
                                                    <h5>配料单号：@bo.MIXEDCODE</h5>
		                                            <h5>成品料号：@bo.fg_cinvcode</h5>                                                    
                                                    <h5>状态：@bo.flag_name (@bo.IQTY.ToString())  </h5>                                                    
		                                        </div>
		                                        <div class="mui-table-cell mui-col-xs-5 mui-text-center">
		                                            <span class="mui-h6">
                                                           @*<input type="hidden" class="hdids" value="@bo.ids" />*@
                                                             @Html.Hidden("hdnOUTID", @bo.ID)
                                                          <button type="button" class="mui-btn mui-btn-primary  mui-icon mui-icon-plus" style="font-size:14px;" id="btnFinish" onclick="SubmitCase(this);" data-loading-text="完成中..." data-loading-icon-position="right">配料完成</button>
		                                            </span>
		                                        </div>
		                                    </div>
                                             
		                                </li>
                                        }
                                   }
                                </ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>

        <div class="mui-content" style="margin: 5px;">
            <div class="mui-content-padded">
                 <h5 class="mui-content-padded"></h5>
                 <h5 class="mui-content-padded"></h5>

                    <input type="text" class="mui-input-clear barcodeRight" id="txtPalletCode" placeholder="栈板条码" onkeydown="changeFocs();">
				
                    <input type="text" class="mui-input-clear barcodeRight" id="txtAGVSite" placeholder="AGV工位">
					
                <div class="mui-button-row">
					<button type="button" class="mui-btn mui-btn-primary" id="btnSave" onclick="return false;" data-loading-text="保存中" data-loading-icon-position="right">保存</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;
					<button type="button" class="mui-btn mui-btn-warning" id="btnBack" onclick="return false;"  data-loading-icon-position="right">返回</button>
                    <input type="hidden" id="hdnLine" value="1" />
				</div>
            </div>
        </div>

		<div id="slider" class="mui-slider">
                <div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-4"></div>
				<div class="mui-slider-group">
					<div id="item2mobile" class="mui-slider-item mui-control-content mui-active">
						<div id="scroll1" class="mui-scroll-wrapper">
							<div class="mui-scroll">

                                <ul class="mui-table-view mui-table-view-striped mui-table-view-condensed" id="tab1UL">

                                     @foreach (WMSPDA.Model.V_PDA_OutMixed_DList bo in Model.Item2)
                                    { 
                                        if(bo!=null)
                                        {
                                        <li class="mui-table-view-cell">
                                           <div class="mui-slider-right mui-disabled">
				                                <a class="mui-btn mui-btn-red btnDelete">删除</a>
                                                <input type="hidden" class="hdnids" value="@bo.IDS" />
			                                </div>
		                                    <div class="mui-table mui-slider-handle">
		                                        <div class="mui-table-cell mui-col-xs-10">
		                                            <h4 class="mui-ellipsis">栈板编号：@bo.CINVBARCODE</h4>
		                                            <h5>AGV工位：@bo.AGVSite</h5>
                                                    <h5>状态：@bo.MixStatusName</h5>
                                                    <h5>
                                                        @*<button type="button" class="mui-btn mui-btn-primary  mui-icon mui-icon-minus" style="font-size:14px;" id="BtnRemove" onclick="return false;" data-loading-text="删除中..." data-loading-icon-position="right">删除</button>*@
                                                        <button type="button" class="mui-btn  mui-btn-primary  mui-icon mui-icon-minus" @((bo.CSTATUS=="3"|| bo.CSTATUS=="5") ?"disabled='disabled'":"") style="font-size:14px;" id="BtnMoveSite" onclick="MoveSite(this);" data-loading-text="移料中..." data-loading-icon-position="right">移料</button>
                                                    </h5>
		                                        </div>
		                                        <div class="mui-table-cell mui-col-xs-2 mui-text-right">
		                                            <span class="mui-h5">
                                                        @Html.Hidden("hdids", @bo.IDS)
                                                        @Html.Hidden("hdnID", @bo.ID)
                                                        @Html.Hidden("hdnPalletCode", @bo.CINVBARCODE)
                                                        @Html.Hidden("hdnAGVSite", @bo.AGVSite)
		                                            </span>
		                                        </div>
		                                    </div>
                                   
		                                </li>
                                        }
                                    }
                                </ul>
							</div>
						</div>
					</div>
					
				</div>
			</div>
    </div>

@*	<script src="~/Content/MUI/js/mui.min.js"></script>*@
    <script src="~/Content/MUI/js/mui.js"></script>
        <script src="~/Scripts/jquery-1.8.2.min.js"></script>
        <script src="~/Content/MUI/js/mui.picker.js"></script>
        <script src="~/Content/MUI/js/mui.poppicker.js"></script>
    <script>

       

        //下拉加载更多数据
        function pullfreshQryTab1() {
            //业务逻辑代码，比如通过ajax从服务器获取新数据；
            //......
            //注意：
            //1、加载完新数据后，必须执行如下代码，true表示没有更多数据了：
            //2、若为ajax请求，则需将如下代码放置在处理完ajax响应数据之后
           setTimeout(SearchAsnList(true), 1500);
        }


        var scrollDisabled = true;
        var CurrendIndex = 1;//当前页数

        //列表查询方法
        function SearchAsnList(IsAppend) {
            //debugger;
            //查询事件
            
            if (IsAppend) {
                CurrendIndex = CurrendIndex + 1;//下一页
            }
            else {
                CurrendIndex = 1;//查询，第一页
            }


          //var erpcode = document.getElementById("txtErpCode").value;
            //var palletcode = document.getElementById("txtPalletCode").value;
            //var cticketcode = document.getElementById("txtCticketCode").value;
            //var outtype = document.getElementById("txtType").value;  //alert("SearchAsnList");
            $.ajax({
                type: "get",
                url: "/OutMixed/OutMixedEditSearch",
                data: { mixedID: "@ViewBag.ID", CurrendIndex: CurrendIndex },
                async: true,
                success: function (data) {
                    //mui.alert(data);
                    scrollDisabled = true;
                    if (data != null && data != undefined && data.length > 0) {
                        if (!IsAppend) {
                            $("#tab1UL").empty();
                            
                        }
                        var liListhtml = '';
                        for (var i = 0; i < data.length; i++) {
                            var ymd = Getmmdd(data[i].DINDATE);
                            liListhtml = liListhtml +
                            '<li class="mui-table-view-cell"> ' +
                            ' <div class="mui-slider-right mui-disabled">'+
				            '<a class="mui-btn mui-btn-red btnDelete">删除</a>' +
                            '<input  id="hdnids"  name="hdnids" type="hidden" value="' + data[i].IDS + '" /></div>' +
                            '	<div class="mui-table mui-slider-handle"> ' +
                            '		<div class="mui-table-cell mui-col-xs-10"> ' +
                            '			<h4 class="mui-ellipsis">栈板编号：' + data[i].CINVBARCODE + '</h4> ' +
                            '			<h5>AGV 工位:' + data[i].AGVSite + '</h5> ' +
                            '			<h5>状态:' + data[i].MixStatusName + '</h5> ' +
                           ' <h5> <button type="button" class="mui-btn mui-btn-primary  mui-icon mui-icon-minus" style="font-size:14px;" id="BtnMoveSite"  onclick="MoveSite(this);" data-loading-text="移料中..." data-loading-icon-position="right">移料</button> </h5>' +
                            '		</div> ' +
                            '		<div class="mui-table-cell mui-col-xs-2 mui-text-right"> ' +
                            '			<span class="mui-h5"> ' +
                            '				<input id="hdids"  name="hdids" type="hidden" value="' + data[i].IDS + '" /> ' +
                            '				<input id="hdnID"  name="hdnID" type="hidden" value="' + data[i].ID + '" /> ' +
                            '				<input id="hdnPalletCode"  name="hdnPalletCode" type="hidden" value="' + data[i].CINVBARCODE + '" /> ' +
                            '				<input id="hdnAGVSite"  name="hdnAGVSite" type="hidden" value="' + data[i].AGVSite + '" /> ' +
                           
                            '			</span> ' +
                            '		</div> ' +
                            '	</div> ' +
                            '</li> ';

                        }
                        if (IsAppend) {
                            $("#tab1UL").append(liListhtml);
                        }
                        else {
                            $("#tab1UL").html(liListhtml);
                        }
                        //重新绑定事件
                       // BindLiTap1();
                        scrollDisabled = false;
                        mui('#scroll1').pullRefresh().endPullupToRefresh(false);//参数为true代表没有更多数据了。
                    }
                    else {
                        //如果没有数据
                        CurrendIndex = CurrendIndex - 1;
                        scrollDisabled = true;
                        if (!IsAppend) {
                            $("#tab1UL").empty();
                        }
                        mui('#scroll1').pullRefresh().endPullupToRefresh(true);//参数为true代表没有更多数据了。
                    }
                    //mui.alert(CurrendIndex);
                    //注意：一定要修改Tab1的高度，否则分页后就只能显示一部分列表
                    //var subHeight = $("#scroll1").children(":first").height();
                    //$("#scroll1").parent(":first").height(subHeight);
                    //mui.alert(CurrendIndex);
                },
                error: function (msg) {
                    //alert(msg);
                    mui.alert("网络异常，请重试!");
                    mui('#scroll1').pullRefresh().endPullupToRefresh(false);//参数为true代表没有更多数据了。
                }
            });

        }


        function changeFocs() {
            if (event.keyCode == 13) {
                $("#txtAGVSite").focus();
            }
        }

        //列表查询方法
        function SearchOutMixedTop(IsAppend) {
            //debugger;
            //查询事件

            if (IsAppend) {
                CurrendIndex = CurrendIndex + 1;//下一页
            }
            else {
                CurrendIndex = 1;//查询，第一页
            }


            //var erpcode = document.getElementById("txtErpCode").value;
            //var palletcode = document.getElementById("txtPalletCode").value;
            //var cticketcode = document.getElementById("txtCticketCode").value;
            //var outtype = document.getElementById("txtType").value;  //alert("SearchAsnList");
            $.ajax({
                type: "get",
                url: "/OutMixed/OutMixedEditTopRefresh",
                data: { mixedID: "@ViewBag.ID", CurrendIndex: CurrendIndex },
                async: true,
                success: function (data) {
                    //mui.alert(data);
                    scrollDisabled = true;
                    if (data != null && data != undefined && data.length > 0) {
                        if (!IsAppend) {
                            $("#tab2UL").empty();

                        }
                        var liListhtml = '';
                        for (var i = 0; i < data.length; i++) {
                            var ymd = Getmmdd(data[i].DINDATE);
                            liListhtml = liListhtml +
                            '<li class="mui-table-view-cell"> ' +
                            '	<div class="mui-table mui-slider-handle"> ' +
                            '		<div class="mui-table-cell mui-col-xs-10"> ' +
                            '			<h4 class="mui-ellipsis">' + data[i].ERPCODE + '</h4> ' +
                            '			<h5>工单号:' + data[i].wo + '</h5> ' +
                            '			<h5>配料单号:' + data[i].MIXEDCODE + '</h5> ' +
                            '			<h5>成品料号:' + data[i].fg_cinvcode + '</h5> ' +                            
                            '			<h5>状态:' + data[i].flag_name + '(' + data[i].IQTY + ')</h5> ' +
                            //'<h5> <button type="button" class="mui-btn mui-btn-primary  mui-icon mui-icon-minus" style="font-size:14px;" id="BtnRemove" onclick="return false;" data-loading-text="删除中..." data-loading-icon-position="right">删除</button> '+
                            //'     <button type="button" class="mui-btn mui-btn-primary  mui-icon mui-icon-minus" style="font-size:14px;" id="BtnMoveSite" onclick="return false;" data-loading-text="移料中..." data-loading-icon-position="right">移料</button> ' +
                            //'</h5>'
                            '		</div> ' +
                            '		<div class="mui-table-cell mui-col-xs-5 mui-text-center"> ' +
                            '			<span class="mui-h5"> ' +
                            //'				<input id="hdids"  name="hdids" type="hidden" value="' + data[i].IDS + '" /> ' +
                           '				<input id="hdnOUTID"  name="hdnOUTID" type="hidden" value="' + data[i].ID + '" /> ' +
                            '     <button type="button" class="mui-btn mui-btn-primary  mui-icon mui-icon-minus" style="font-size:14px;" id="btnFinish" onclick="SubmitCase(this);" data-loading-text="完成中..." data-loading-icon-position="right">配料完成</button> ' +
                            '			</span> ' +
                            '		</div> ' +
                            '	</div> ' +
                            '</li> ';

                        }
                        if (IsAppend) {
                            $("#tab2UL").append(liListhtml);
                        }
                        else {
                            $("#tab2UL").html(liListhtml);
                        }
                        //重新绑定事件
                       // BindLiTap1();
                        scrollDisabled = false;
                        mui('#scrollTop').pullRefresh().endPullupToRefresh(false);//false参数为true代表没有更多数据了。
                    }
                    else {
                        //如果没有数据
                        CurrendIndex = CurrendIndex - 1;
                        scrollDisabled = true;
                        if (!IsAppend) {
                            $("#tab2UL").empty();
                        }
                        mui('#scrollTop').pullRefresh().endPullupToRefresh(true);//参数为true代表没有更多数据了。
                    }

                    ////注意：一定要修改Tab1的高度，否则分页后就只能显示一部分列表
                    //var subHeight = $("#scrollTop").children(":first").height();
                    //$("#scrollTop").parent(":first").height(subHeight);
                    ////mui.alert(CurrendIndex);
                },
                error: function (msg) {
                    //alert(msg);
                    mui.alert("网络异常，请重试!");
                    mui('#scrollTop').pullRefresh().endPullupToRefresh(false);//false参数为true代表没有更多数据了。
                }
            });

        }
        
        //格式化json日期
        function Getmmdd(str) {
            var ymd = '';
            //str='/Date(1525795200000)/';
            if (str != undefined) {
                str = str.replace("/Date(", "").replace(")/", "");
                var date = new Date(parseFloat(str));
                //var year = date.getFullYear();
                var month = (date.getMonth() + 1) + '';
                if (month.length == 1) {
                    month = "0" + month;
                }
                var strDate = (date.getDate()) + '';
                if (strDate.length == 1) {
                    strDate = '0' + strDate;
                }
                ymd = month + "-" + strDate;
                //ymd = str;
            }
            return ymd;
        }

        //Tab1下拉分页
        mui('#scroll1').pullRefresh({
            up: {
                height: 100,//可选.默认50.触发上拉加载拖动距离
                auto: false,//可选,默认false.自动上拉加载一次
                contentrefresh: "正在加载...",//可选，正在加载状态时，上拉加载控件上显示的标题内容
                contentnomore: '没有更多数据了',//可选，请求完毕若没有更多数据时显示的提醒内容；
                callback: pullfreshQryTab1 //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
            }
        });


        $(document).ready(function () {
            BindLiTap1();
           // pageLod();
           // MoveSite();
            $("#btnBack").bind("tap", function () {
                location.href = "/OutMixed/OutMixedList/@ViewBag.UserNo";
            });

            $("#btnReturn").bind("tap", function () {
                location.href = "/OutMixed/OutMixedList/@ViewBag.UserNo";
            });
            
            $("#btnMain").bind("tap", function () {
                location.href = "/PDA/Main/@ViewBag.UserNo";
            });

            
            
            $("#btnSave").bind("tap", function () {
                mui(this).button('loading');
                Save();
                setTimeout(function () {
                    mui(this).button('reset');
                }.bind(this), 1000);
            });

            ////注意：一定要修改Tab1的高度，否则分页后就只能显示一部分列表
            // var subHeight = $("#scroll1").children(":first").height();
            var topHeight = $("#scrollTop").children(":first").height();
            var height = window.innerHeight.toString();
            var middleHeight = $("#txtPalletCode").parent(":first").height();
            $("#scroll1").parent(":first").height(height - topHeight - middleHeight-44);
            //alert(height - topHeight -middleHeight- 44);
           
        });


        //完成
        function SubmitCase(obj) {
            var mixedid = $(obj).parents(".mui-table-view-cell").find("input:hidden[name=hdnOUTID]").val();
            $.ajax({
                type: "get",
                url: "/OutMixed/OutMixedSubmit",
                dataType: "json",
                data: { id: mixedid },
                async: false,
                success: function (data) {
                    if (data != undefined && data != "") {
                        if (data.Status == "0") {
                            mui.alert("提交成功!");
                            SearchOutMixedTop(false);
                            SearchAsnList(false);
                            setEnabled();
                          
                        }
                        else {
                            mui.alert("提交失败：" + data.Info);
                        }
                    }
                    else {

                    }
                },
                error: function (msg) {
                    mui.alert("提交失败：" + msg);
                }
            });
        }

        function setEnabled(){
            $("BtnMoveSite").enabled = false;
            $("btnSave").enabled = false;
        }
        //保存
        function Save() {
            var palletCode = $("#txtPalletCode").val();
            if (palletCode == "") {
                mui.toast("栈板号不能为空！");
                $("#txtPalletCode").focus();
                return;
            }

            var agvSite = $("#txtAGVSite").val();
            if (agvSite == "") {
                mui.toast("AGV工位号不能为空！");
                $("#txtAGVSite").focus();
                return;
            }

            //mui.toast("开始保存");
         
            $.ajax({
                type: "get",
                url: "/OutMixed/OutMixedDetailSave",
                dataType: "json",
                data: { palletCode: palletCode, agvSite: agvSite, mixedID:"@ViewBag.ID"},
                async: false,
                success: function (data) {
                    if (data != undefined && data != "") {
                        if (data.Status == "0") {
                            mui.alert("保存成功!");
                            SearchAsnList(false);
                            SearchOutMixedTop(false);
                            clearText();
                        }
                        else {
                            mui.alert("保存失败：" + data.Info);
                            $("#txtPalletCode").focus();
                        }
                    }
                    else {

                    }
                },
                error: function (msg) {
                    //alert(msg);
                }
            });

        }

            function clearText() {
                $("#txtPalletCode").val("");
                $("#txtAGVSite").val("");
            }
          

       
            ////移料
            function MoveSite(obj) {
                //var mixedid = $(this).find("input:hidden[name=hdnID]").val();
                //var mixedids = $(this).find("input:hidden[name=hdnids]").val();
                //var palletCode = $(this).find("input:hidden[name=hdnPalletCode]").val();
                //var agvSite = $(this).find("input:hidden[name=hdnAGVSite]").val();
                //alert($(obj).parents(".mui-table-view-cell").find("input:hidden[name=hdids]").val());
                var mixedids = $(obj).parents(".mui-table-view-cell").find("input:hidden[name=hdids]").val();
                location.href = "/OutMixed/OutMixedMoveTheCinvcode/@ViewBag.UserNo/@ViewBag.ID/"+ mixedids;
        
            }


            //绑定Tab3删除事件
            function BindLiTap1() {

                $('.mui-scroll-wrapper').scroll({
                    indicators: true //是否显示滚动条
                });

                var btnArray = ['确认', '取消'];

                $('#tab1UL').on('tap', '.btnDelete', function (event) {
                    var elem = this;
                    var li = elem.parentNode.parentNode;
                    var hdnIds = $(li).find(".hdnids").val();
                    mui.confirm('确认删除该条记录？', '友情提示', btnArray, function (e) {
                        if (e.index == 0) {
                            //ajax后台删除明细
                            $.ajax({
                                type: "get",
                                url: "/OutMixed/DeleteOutMixed_D",
                                data: { ids: hdnIds },
                                async: true,
                                success: function (data) {
                                    if (data == "") {
                                        li.parentNode.removeChild(li);
                                        SearchOutMixedTop(false);
                                    }
                                    else {
                                        mui.alert(data);
                                    }
                                },
                                error: function (msg) {
                                    //alert(msg);
                                    mui.alert("网络异常，请重试!");

                                }
                            });


                        } else {
                            setTimeout(function () {
                                $.swipeoutClose(li);
                            }, 0);
                        }
                    });
                });
            }

       

	</script>

</body>
</html>
