@{
    ViewBag.Title = "OutBillManual";
}
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Resources.Lang.PDA_Common_Element_ShouDongFanKu</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--标准mui.css-->
    <link rel="stylesheet" href="~/Content/MUI/css/mui.min.css">
    <!--App自定义的css-->
    <!-- <link rel="stylesheet" type="text/css" href="../css/app.css" /> -->
    <!--App自定义的css-->
    <link rel="stylesheet" type="text/css" href="~/Content/MUI/css/app.css" />
    <link href="~/Content/MUI/css/mui.picker.css" rel="stylesheet" />
    <link href="~/Content/MUI/css/mui.poppicker.css" rel="stylesheet" />

    <style>
        .mui-btn
        {
            font-size: 16px;
            padding: 8px;
            margin: 3px;
        }

        h5.mui-content-padded
        {
            margin-left: 3px;
            margin-top: 20px !important;
        }

            h5.mui-content-padded:first-child
            {
                margin-top: 12px !important;
            }

        .ui-alert
        {
            text-align: center;
            padding: 20px 10px;
            font-size: 16px;
        }

        .rowFlow
        {
            float: left;
        }

        .buttonText
        {
            text-align: left;
        }

        .barcodeRight
        {
            background-image: url("../../Content/Images/u222.png");
            background-repeat: no-repeat;
            background-position: 99% center;
            margin-bottom: 1px;
        }
    </style>
    <link rel="stylesheet" href="~/Content/MUI/css/iconfontNew.css">
</head>
<body>

    <header class="mui-bar mui-bar-nav">
        <button type="button" class="mui-btn mui-btn-link mui-pull-left" id="btnReturn">
            <span class="mui-icon mui-icon-back"></span>@Resources.Lang.PDA_Common_Element_GoBack
        </button>
        <button type="button" class="mui-btn mui-btn-link mui-pull-right" id="btnMain">
            <span class="mui-icon mui-icon-home"></span>
        </button>
        <h1 class="mui-title" style="color: #5A98FB;">@Resources.Lang.PDA_Common_Element_ShouDongFanKu
        </h1>
        <h1 class="mui-title" style="text-decoration: underline; color: #5A98FB;">@Resources.Lang.PDA_Common_Element_ShouDongFanKu</h1>
    </header>

    <div class="mui-content">
        <div class="mui-content-padded" style="margin: 5px;">

            <h5 class="mui-content-padded"></h5>
            <h5 class="mui-content-padded"></h5>

            <input type="text" class="mui-input-clear barcodeRight" id="txtPalletCode" placeholder="@ViewBag.UnitConfigName">       
            <h5 class="mui-content-padded"></h5>
            <button id='showCityPickerSite' class="mui-btn mui-btn-block buttonText mui-icon mui-icon-arrowdown mui-right" type='button'>@Resources.Lang.PDA_Common_Element_SelectZhanDian</button>

            <h5 class="mui-content-padded"></h5>
            <button id='showCityPickerHeight' class="mui-btn mui-btn-block buttonText mui-icon mui-icon-arrowdown mui-right" type='button'>@Resources.Lang.PDA_Common_Element_SelectGaoDu</button>



            <div style="vertical-align: middle; text-align: center;">
                <button type="button" class="mui-btn mui-btn-primary mui-btn-block mui-icon mui-icon-plus" style="font-size: 16px;" id="btnCreate" onclick="return false;" data-loading-text="@Resources.Lang.PDA_Common_Element_Createing" data-loading-icon-position="right">@Resources.Lang.PDA_Common_Element_FanKu</button>



            </div>

            <div style="display: none;">
                <input type="text" id="txtCrane" />
                <input type="text" id="txtSite" />
                <input type="text" id="txtHeight" />
            </div>
        </div>
    </div>
    <script src="~/Content/MUI/js/mui.min.js"></script>
    <!--<script src="../js/mui.picker.min.js"></script>-->
    <script src="~/Content/MUI/js/mui.picker.js"></script>
    <script src="~/Content/MUI/js/mui.poppicker.js"></script>
    <script src="~/Content/MUI/js/city.data.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/Content/MUI/js/city.data-3.js" type="text/javascript" charset="utf-8"></script>
    <script>

        (function ($, doc) {
            $.init();
            $.ready(function () {

                /**
                 * 获取对象属性的值
                 * 主要用于过滤三级联动中，可能出现的最低级的数据不存在的情况，实际开发中需要注意这一点；
                 * param {Object} obj 对象
                 * param {String} param 属性名
                 */
                var _getParam = function (obj, param) {
                    return obj[param] || '';
                };

                //-----------------------------------------
                //					//级联示例
                var cityPicker1 = new $.PopPicker({
                    layer: 2
                });

                var cityPicker2= new $.PopPicker({
                    layer: 1
                });  
                $.ajax({
                    type: "get",
                    url: "/GetJson/GetDropDownBO2",
                    data: {},
                    success: function (data) {                      
                        if (data != null && data != undefined && data.length > 0) {                         
                            cityPicker1.setData(data);
                        }
                    },
                    error: function (msg) {                       
                    }
                });
                     
                $.ajax({
                    type: "get",
                    url: "/GetJson/GetDropDownBO1Height",
                    data: {},
                    success: function (data) {                      
                        if (data != null && data != undefined && data.length > 0) {                                          
                            cityPicker2.setData(data);
                        }
                    },
                    error: function (msg) {
                        //alert(msg);
                    }
                });
                var txtCrane = doc.getElementById("txtCrane");
                var txtSite = doc.getElementById("txtSite");      
                var txtHeight = doc.getElementById("txtHeight");
                var showCityPickerButton = doc.getElementById('showCityPickerSite');               
                showCityPickerButton.addEventListener('tap', function (event) {
                    cityPicker1.show(function (items) {
                        showCityPickerButton.innerText = _getParam(items[1], 'text')
                        txtCrane.value = _getParam(items[0], 'value');
                        txtSite.value = _getParam(items[1], 'value');
                        //返回 false 可以阻止选择框的关闭                        
                        //return false;
                    });
                }, false);
            

                var showCityPickerButton2 = doc.getElementById('showCityPickerHeight');              
                showCityPickerButton2.addEventListener('tap', function (event) {
                    cityPicker2.show(function (items) {
                        showCityPickerButton2.innerText = _getParam(items[0], 'text')
                        txtHeight.value = _getParam(items[0], 'value');                       
                        //返回 false 可以阻止选择框的关闭
                        //return false;
                    });
                }, false);

                //设置高度的可见于不可见
                var isShowHeight = "@ViewBag.ShowHeight";
                if (isShowHeight == "1") {
                    document.getElementById("showCityPickerHeight").style = "";
                }
                else {
                    document.getElementById("showCityPickerHeight").style = "display:none";
                }

                var returnBtn = document.getElementById("btnReturn");
                //监听点击事件
                returnBtn.addEventListener("tap", function () {
                    location.href = "/PDA/Main/@ViewBag.UserNo";
                });

                var mainBtn = document.getElementById("btnMain");
                //监听点击事件
                mainBtn.addEventListener("tap", function () {
                    location.href = "/PDA/Main/@ViewBag.UserNo";
                });               

                var createBtn = document.getElementById("btnCreate");
                //监听点击事件
                createBtn.addEventListener("tap", function () {                
                    var txtCrane = document.getElementById("txtCrane").value;
                    var txtHeight = document.getElementById("txtHeight").value;
                    var txtSite = document.getElementById("txtSite").value;
                    var txtPalletCode = document.getElementById("txtPalletCode").value;
                    if (txtCrane == "" || txtSite == "" || (txtHeight == "" && isShowHeight == "1")) {
                        mui.alert("@Resources.Lang.PDA_Common_Tips_AllBuNengWeiKong");//栈板，站点，高度都不能为空！
                        return;
                    }
                    $.ajax({
                        type: "get",
                        dataType: 'json',
                        contentType: "json",
                        url: "/Manual/OutBillHandBack",
                        data: { "LineId": txtCrane, "SiteId": txtSite, "Type": txtHeight, "AreaId": "", "PalletCode": txtPalletCode },
                        success: function (data) {
                            if (data != null && data != undefined) {
                                if (data.ReturnValue == "0") {
                                    mui.alert("@Resources.Lang.PDA_Common_Tips_SuccessFanKu");//返库成功!
                                }
                                else {
                                    mui.alert("@Resources.Lang.PDA_Common_Tips_FailedFanku: " + data.ErrorMessage);//返库失败
                                }

                            } else {
                                mui.alert("@Resources.Lang.PDA_Common_Tips_FailedFanku");//返库失败
                            }

                        },
                        error: function (msg) {
                            //alert(msg);
                        }
                    });
                });
            });
        })(mui, document);
		</script>
</body>
</html>
